@charset "utf-8";
.about {
	overflow-x: hidden;
}

.about h1 {
	margin-bottom: 10%;
}

.about .fadeInLeft {
	margin-bottom: 10%;
}

.about .fadeInLeft h2 {
	margin-bottom: 2%;
}

.about .fadeInLeft p {
	line-height: 200%;
	margin-bottom: 2%;
}

.about_txt {
	position: absolute;
	z-index: 4;
}

.about_txt>span {
	display: block;
	position: relative;
	line-height: 100%;
	color: #fff;
	text-transform: uppercase;
}

.about_txt>span.index_tit3 {
	padding-top: 2vw;
}

.bg:not(.bg_menu) {
	transform: scale(1.2);
}

@media (min-width: 851px) {
	.about_txt {
		position: fixed;
		right: 3%;
		top: 50%;
		transform: translateY(-50%)scale(0.8);
		z-index: 4;
	}

	.bg:not(.bg_menu) figcaption {
		left: 27%;
	}
}



@media (max-width: 850px) {
	.about .main {
		padding-top: 20%;
	}
	.about_txt {
		top: 0%;
		left: -15%;
		transform: translateX(135%) translateY(95%) scale(1.5);
	}
	.about .fadeInLeft {
		margin-bottom: 20%;
	}
	.about_bg {
		position: relative;
		width: 100%;
		padding: 50vw;
		overflow: hidden;
	}
	.bg:not(.bg_menu) {
		opacity: 0.3;
		transition: 500ms;
		transform: scale(.9);
	}
	.animation-style .bg:not(.bg_menu) {
		opacity: 1
	}
	.about .fadeInLeft.end {
		margin-bottom: 0%;
	}
	.about .fadeInLeft h2,
	.about .fadeInLeft p {
		margin-bottom: 8%;
	}
	.about_txt {
		opacity: 0;
	}
	.animation-style .about_txt {
		animation: about_txt 1s ease both;
	}

	footer {
		margin-top: -10%;
	}
}

@keyframes about_txt {
	from {
		opacity: 0;
		left: -15%;
	}
	to {
		opacity: 1;
		left: 0;
	}
}

@media (max-width: 550px) {
	.about .main {
		padding-top: 30%;
	}
	.bg:not(.bg_menu),
	.bg:not(.bg_menu) figcaption {
		height: 95%;
	}
	.about_bg {
		padding: 60vw;
	}
	.about_txt {
		transform: translateX(135%) translateY(95%) scale(2.2);
	}
}